
{% extends 'base/base.html' %}
{% block body %}
        {% comment %} <div class="submit-row">
            <h1>Edit</h1>
            <form enctype="multipart/form-data" method="post" id="my_form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="submit-row">
                    <input type="submit" value="Save" class="default" name="_save" />
                </div>
            </form>
        </div> {% endcomment %}


        <div class="container">
            <h1 class="mb-4">Edit Listing</h1>
            <form method="post" enctype="multipart/form-data" id="my_form">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.user.id_for_label }}" class="form-label">User</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.user }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.title }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.description }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.price.id_for_label }}" class="form-label">Starting Bid</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.price }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.image }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.sold.id_for_label }}" class="form-label">Sold</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.sold }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.category }}
                    </div>
                </div>
                <div class="submit-row mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" name="_save" />
                    <a href="{% url 'listing_detail' pk=object.id %}" class="btn btn-secondary mx-2">Cancel</a>
                </div>
            </form>
        </div>

       {% endblock %}