{% extends 'auctions/base.html' %}
{% block title%}Watchlist{%endblock%}
{%block body%}

{% comment %} 
total number of item in watchlist
{{watchlist.total_items}}
{{count}} 
{% endcomment %}

<h1 class="mb-4">Watchlist</h1>
<div class="row ">
    {% for watch in watchlist %}
    <div class="col-md-5 mb-4">
      <div class="card">
        <a href="{% url 'listing_detail' watch.items.id %}">
          <img class="card-img-top" src="{{watch.items.image.url}}" alt="{{watch.items.title}}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{watch.items.title}}</h5>
          <p class="card-text card-text-list">{{watch.items.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{watch.items.user}}</small>
            <h6 class="text-muted">${{watch.items.price}}</h6>
          </div>
          <a href="{% url 'delete_watchlist' watch.id %}" class="btn btn-sm btn-danger mt-3">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    {% endfor %}
  </div>
{%endblock%}